<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GB_ILSLOC_场地保护区" value="在航向信标台场地保护区内不应有障碍物存在。" />
		<add key="MH_ILSLOC_场地保护区" value="在航向信标台场地保护区内除必需的助航设施和滑行道外，不应有树木、建筑物（航向信标台机房除外）、道路、金属栅栏和架空线缆等障碍物。" />
		<add key="GB_ILSLOC_场地保护区_线缆" value="进入航向信标台的电力线缆和通信线缆应从保护区外埋入地下。" />
		<add key="MH_ILSLOC_场地保护区_线缆" value="进入航向信标台的电力线缆和通信线缆应从场地保护区外埋入地下。" />

		<add key="GB_ILSLOC_场地保护区_航空器" value="保护区内不应停放车辆或航空器，不应有任何的地面交通活动。" />

		<add key="GB_ILSLOC_前向正负10°，3000米区域" value="在航向信标天线中心前向±10°、距离航向信标天线3km的区域内，不应有高于15m的建筑物、大型金属反射物和高压输电线存在。" />
		<add key="MH_ILSLOC_前向正负10°，3000米区域" value="在航向信标天线中心前向±10°、距离航向信标天线3000m的区域内，不应有高于15m的建筑物、大型金属反射物和高压输电线。"/>
		<add key="MH_ILSLOC_建筑物限制区_Ⅱ" value="航向信标台建筑物限制区：对于Ⅱ类运行或规划Ⅱ类运行的跑道，飞行区与建筑物限制区重叠范围内规划建设超过高度限制的机库、航站楼等大型建筑物，宜采用计算机仿真的方式确定建筑物的尺寸。" />
		<add key="MH_ILSLOC_建筑物限制区_Ⅲ" value="航向信标台建筑物限制区：对于Ⅲ类运行或规划Ⅲ类运行的跑道，飞行区与建筑物限制区重叠范围内规划建设超过高度限制的机库、航站楼等大型建筑物，应采用计算机仿真的方式确定建筑物的尺寸；飞行区外的建筑物限制区范围内规划建设超过高度限制的民用设施等大型建筑物，宜采用计算机仿真的方式确定建筑物的尺寸。" />
							
		<add key="MH_ILSLOC_运行保护区_临界区" value="航向信标台运行保护区：实施Ⅰ/Ⅱ/Ⅲ类运行时，临界区内不应停放车辆、机械和航空器，不应有任何地面交通活动。" />
		<add key="MH_ILSLOC_运行保护区_敏感区" value="航向信标台运行保护区：车辆、航空器等移动物体未经许可不应进入相应类别的敏感区，跑道等待位置应位于敏感区外。" />
		<add key="GB_MB_指点信标保护区_Ⅰ_Ⅲ" value="在指点信标台保护区Ⅰ和Ⅲ内，距离指点信标台30m以内，不应有超出以地网或指点信标天线最低单元为基准、垂直张角为20°的障碍物。" />
		<add key="GB_MB_指点信标保护区_Ⅱ_Ⅳ" value="在指点信标台保护区Ⅱ和Ⅳ内，距离指点信标台30m以内，不应有超出以地网或指点信标天线最低单元为基准、垂直张角为45°的障碍物。" />
		<add key="MH_MB_指点信标保护区_Ⅰ_Ⅲ" value="在指点信标台保护区Ⅰ和Ⅲ内，距离指点信标台30m以内，不应有超出以地网或指点信标天线最低单元为基准、垂直张角为20°的障碍物。" />
		<add key="MH_MB_指点信标保护区_Ⅱ_Ⅳ" value="在指点信标台保护区Ⅱ和Ⅳ内，距离指点信标台30m以内，不应有超出以地网或指点信标天线最低单元为基准、垂直张角为45°的障碍物。" />
	
		<add key="GB_ILSGP_GB场地保护区_A线缆" value="“通过A区的电力线缆和通信线缆应埋入地下。" />
		<add key="GB_ILSGP_GB场地保护区_A" value="“A区”：不应有道路、机场专用环场路等任何障碍物存在。" />
		<add key="GB_ILSGP_GB场地保护区_B" value="“B区”：距下滑信标天线前方600m B区范围以内不应有铁路、公路、机场专用环场路、建筑物（航向信标台机房除外）、高压输电线、堤坝、树林、山丘等障碍物存在，航向信标台机房总高度和600m以外的障碍物高度不能超过跑道端净空限制要求。" />
		<add key="GB_ILSGP_GB场地保护区_C" value="“C区”：不应有高于机场侧净空限制的建筑物、高压输电线、堤坝、树林、山丘等障碍物存在。" />
		<add key="MH_ILSGP_场地保护区_A线缆" value="通过A区的电力线缆和通信线缆应埋入地下。" />
		<add key="MH_ILSGP_场地保护区_A" value="A区内不应有道路、机场专用环场路。在该区内，不应停放车辆、机械和航空器，不应有地面交通活动。" />
		<add key="MH_ILSGP_场地保护区_B_Ⅰ" value="B区内：用于I类运行的仪表着陆系统：距下滑信标天线前方600m B区范围以内不应有铁路、公路、机场专用环场路，不应有建筑物（航向信标台机房除外）、高压输电线、堤坝、树林、山丘等，航向信标台机房总高度和600m以外的障碍物高度不能超过跑道净空要求。" />
		<add key="MH_ILSGP_场地保护区_B_Ⅱ" value="B区内：用于Ⅱ类运行的仪表着陆系统：B区范围以内不应有铁路、公路、不应有建筑物（航向信标台机房除外）、高压输电线、堤坝、树林、山丘等，距下滑信标天线前方600m以内不应有机场专用环场路，航向信标台机房总高度不应超过跑道净空要求。" />
		<add key="MH_ILSGP_场地保护区_B_Ⅲ" value="B区内：用于Ⅲ类运行的仪表着陆系统：B区范围以内不应有铁路、公路、不应有建筑物（航向信标台机房除外）、高压输电线、堤坝、树林、山丘等，距下滑信标天线前方600m以内不应有机场专用环场路，航向信标台机房总高度不应超过跑道净空要求。" />
		<add key="MH_ILSGP_场地保护区_C" value="C区内不应有铁路和公路（机场专用环场路除外），不应有高于机场净空要求的建筑物、高压输电线、堤坝、树林、山丘等。" />
		<add key="MH_ILSGP_运行保护区_临界" value="实施Ⅰ/Ⅱ/Ⅲ类运行时，临界区内不应停放车辆和航空器，不应有任何地面交通活动。" />
		<add key="MH_ILSGP_运行保护区_敏感" value="实施Ⅰ/Ⅱ/Ⅲ类运行时，车辆和航空器等移动物体未经许可不应进入相应类别的敏感区。" />
		<add key="MH_ILSGP_1°仰角限制区域" value="以下滑信标天线正前方A区边缘为基准，下滑信标天线前方信号覆盖范围内障碍物的遮蔽角不宜超过1°。" />
		
		<add key="MH_VORDME_100米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径100m以内不应有超过基准面高度的任何障碍物。" />
		<add key="MH_VORDME_100米至200米1.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径100m~200m的树木相对于基准面垂直张角不应超过1.5°，且超过基准面高度的水平张角不应超过7°。" />
		<add key="MH_VORDME_200米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径200m以内不应有超过基准面高度的公路、建筑物、堤坝、山丘等障碍物。" />
		<add key="MH_VORDME_200米基准面_高压线" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径200m以内不应有超过基准面高度的35kV及以上的高压输电线。" />
		<add key="MH_VORDME_200米至300米1.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径200m~300m的障碍物相对于基准面的垂直张角不应超出1.5°，且超过基准面高度的水平张角不应超出10°。" />
		<add key="MH_VORDME_300米外2.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径300m以外的障碍物相对于基准面的垂直张角不应超出2.5°。" />
		<add key="MH_VORDME_300米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径300m以内不应有超过基准面高度的铁路。"/>
		<add key="MH_VORDME_500米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径500m以内不应有超过基准面高度的110kV及以上的高压输电线。" />
		<add key="MH_VORDME_100米内阴影区" value="以多普勒全向信标天线基础中心为基准点，以天线反射网平面为基准面，半径100m以内不应有超过基准面高度的任何障碍物，且边带天线相位中心通过反射网边缘延伸至地面的反射路径不应受到障碍物的阻挡。" />
		
		<add key="GB_VORDME_100米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径100m以内不应有超出基准面高度的任何障碍物。" />
		<add key="GB_VORDME_200米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径200m内不应有超出基准面高度的公路、建筑物、堤坝、山丘等障碍物,半径200m以内不应有超出基准面高度的35kV及以上的高压输电线。" />
		<add key="GB_VORDME_100米至200米1.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径100m~200m的树木相对于基准面垂直张角不应超过1.5°，水平张角不应超过7°。" />
		<add key="GB_VORDME_300米外2.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径300m以外的障碍物相对于基准面的垂直张角不应超出2.5°。" />
		<add key="GB_VORDME_300米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，不应有超出基准面高度的铁路。" />
		<add key="GB_VORDME_200米至300米1.5°仰角" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径200m~300m的障碍物相对于基准面的垂直张角不应超出1.5°，水平张角不应超出10°。" />
		<add key="GB_VORDME_500米基准面" value="以多普勒全向信标天线基础中心为基准点，以多普勒全向信标天线反射网平面为基准面，半径500m以内不应有超过基准面高度的110kV及以上的高压输电线。" />


		<add key="GB_NDB_50m最小间距区域_50" value="无方向信标天线与地形地物之间的最小间距：高于3m的树木、建筑物（机房除外）以及公路与台站最小允许间距50m。" />
		<add key="GB_NDB_150m最小间距区域_150" value="无方向信标天线与地形地物之间的最小间距：铁路、架空低压电力线、通信线缆、110kV以下架空高压输电线与台站最小允许间距150m。" />
		<add key="GB_NDB_300m最小间距区域_300" value="无方向信标天线与地形地物之间的最小间距：山丘、堤坝与台站最小允许间距300m。" />
		<add key="GB_NDB_500m最小间距区域_500" value="无方向信标天线与地形地物之间的最小间距：110kV及以上架空高压输电线与台站最小允许间距500m。" />
		<add key="MH_NDB_50m最小间距区域_50" value="无方向信标天线与地形地物之间的最小间距：建筑物（机房除外）、公路以及高于3m的树木与台站最小允许间距50m。" />
		<add key="MH_NDB_150m最小间距区域_150" value="无方向信标天线与地形地物之间的最小间距：铁路、架空低压电力线、通信线缆、110kV以下架空高压输电线与台站最小允许间距150m。" />
		<add key="MH_NDB_300m最小间距区域_300" value="无方向信标天线与地形地物之间的最小间距：山丘、堤坝与台站最小允许间距300m。" />
		<add key="MH_NDB_500m最小间距区域_500" value="无方向信标天线与地形地物之间的最小间距：110kV及以上架空高压输电线与台站最小允许间距500m。" />
		<add key="GB_NDB_50米以外仰角区域" value="在无方向信标天线50m以外，不应有超出无方向信标天线中心底部为基准垂直张角3°的障碍物。" />
		<add key="MH_NDB_50米以外仰角区域" value="在无方向信标天线50m以外，不应有超出无方向信标天线中心底部基准垂直张角为3°的障碍物。" />
	
		<add key="GB_VHFUHFDF_间距区域_700" value="以超短波定向天线为中心，半径700m以内不应有110kV及以上的高压输电线。" />
		<add key="GB_VHFUHFDF_间距区域_500" value="以超短波定向天线为中心，500m以内不应有35kV及以上的高压输电线、电气化铁路和树林。" />
		<add key="GB_VHFUHFDF_间距区域_70" value="以超短波定向天线为中心，70m以内不应有建筑物（机房除外）和树木。" />
		
		<add key="GB_MLSAZIMUTH_场地保护区" value="方位台场地保护区内不应有树木、建筑物、道路、金属栅栏和架空线缆等障碍物存在。" />
		<add key="GB_MLSELEVATION_场地保护区" value="在场地保护区内不应有道路等障碍物存在。" />
		
		<add key="GB_PDME_5场地保护区_50m" value="半径50m以内不应有超出基准面的障碍物。" />
		<add key="GB_PDME_场地保护区_50m3°" value="半径50m以外不应有超出基准面垂直张角3°的障碍物。" />
		<add key="GB_PDME_场地保护区_500m" value="其中500m以内不应有110kV及以上的高压输电线。" />
		<add key="MH_PDME_场地保护区_50m" value="半径50m以内不应有超过基准面的障碍物。" />
		<add key="MH_PDME_场地保护区_50m3°" value="半径50m以外不应有超过基准面垂直张角3°的障碍物。" />
		<add key="MH_PDME_场地保护区_500m" value="半径500m以内不应有110kV及以上的高压输电线。" />
		
		<add key="GB_TACAN_场地保护区_300_Line" value="以塔康导航天线为中心，半径300m以内不应有铁路和架空金属线缆。" />
		<add key="GB_TACAN_场地保护区_阴影区" value="以塔康导航天线为中心，半径300m以内场地应平坦开阔，一切障碍物的高度不应超出阴影区。" />
		<add key="GB_TACAN__场地保护区_38" value="最大水平张角为3°的障碍物，允许最大垂直张角为8°。" />
		<add key="GB_TACAN__场地保护区_913" value="最大水平张角为9°的障碍物，允许最大垂直张角为13°。" />
		<add key="GB_TACAN__场地保护区_105" value="最大水平张角为10°的障碍物，允许最大垂直张角为5°。" />
		<add key="GB_TACAN__场地保护区_307" value="最大水平张角为30°的障碍物，允许最大垂直张角为7°。" />
		
		<add key="MH_PSRSSR_场地保护区" value="单体（或密集）障碍物对台站的垂直遮蔽角≤0.25°，水平遮蔽角≤1.5°，当垂直遮蔽角和水平遮蔽角同时超过允许范围时，不满足雷达台站的场地保护要求。" />
		<add key="MH_PSRSSR_场地保护区_15°" value="单体（或密集）障碍物对台站15°方位范围遮蔽间隔比不大于1/10，即任意15°方位范围内，允许单体（或密集）障碍物（垂直遮蔽角超限）的水平遮蔽角不大于1.5°。" />
		<add key="MH_PSRSSR_场地保护区_45°" value="单体（或密集）障碍物对台站45°方位范围累计遮蔽间隔比不大于1/15，即任意45°方位范围内，允许累计障碍物（垂直遮蔽角超限）的水平遮蔽角不大于3.0°。" />
		
		<add key="MH_PSRSSR_1km平面防护间距要求_500kV高压架空输电线路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于500kV高压架空输电线路的平面防护间距要求不小于1.0km。" />
		<add key="MH_PSRSSR_0.8km平面防护间距要求_220到330kV高压架空输电线路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于220到330kV高压架空输电线路的平面防护间距要求不小于0.8km。" />
		<add key="MH_PSRSSR_0.7km平面防护间距要求_110kV高压架空输电线路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于110kV高压架空输电线路的平面防护间距要求不小于0.7km。" />
		<add key="MH_PSRSSR_1.2km平面防护间距要求_500kV高压变电站" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于500kV高压变电站的平面防护间距要求不小于1.2km。" />
		<add key="MH_PSRSSR_0.8km平面防护间距要求_220到330kV高压变电站" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于220到330kV高压变电站的平面防护间距要求不小于0.8km。" />
		<add key="MH_PSRSSR_0.7km平面防护间距要求_110到220kV高压变电站" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于110kV高压变电站的平面防护间距要求不小于0.7km。" />
		<add key="MH_PSRSSR_0.7km平面防护间距要求_电气化铁路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于电气化铁路的平面防护间距要求不小于0.7km。" />
		<add key="MH_PSRSSR_0.5km平面防护间距要求_非电气化铁路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于非电气化铁路的平面防护间距要求不小于0.5km。" />
		<add key="MH_PSRSSR_0.7km平面防护间距要求_公路" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于公路的平面防护间距要求不小于0.7km。" />
		<add key="MH_PSRSSR_1.2km平面防护间距要求_高频热合机" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于高频热合机的平面防护间距要求不小于1.2km。" />
		<add key="MH_PSRSSR_0.5km平面防护间距要求_高频炉" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于不大于100kW的高频炉的平面防护间距要求不小于0.5km。" />
	  <add key="MH_PSRSSR_0.5km平面防护间距要求_工业电焊" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于不大于10kW的工业电焊的平面防护间距要求不小于0.5km。" />
		<add key="MH_PSRSSR_1km平面防护间距要求_超高频理疗机" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于不大于1kW的超高频理疗机的平面防护间距要求不小于1.0km。" />
		<add key="MH_PSRSSR_0.5km平面防护间距要求_农用电力设备" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于不大于1kW的农用电力设备的平面防护间距要求不小于0.5km。" />
		<add key="MH_PSRSSR_0.93km平面防护间距要求_气象雷达站" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于气象雷达站的平面防护间距要求不小于0.93km。" />
		<add key="MH_PSRSSR_0.8km平面防护间距要求_广播电台" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于广播电台的平面防护间距要求不小于0.80km。" />
		<add key="MH_PSRSSR_1.61km平面防护间距要求_机库等大型金属构建物" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于机库等大型金属构建物的平面防护间距要求不小于1.61km。" />
		<add key="MH_PSRSSR_0.46km平面防护间距要求_金属围栏、构建物、高塔、航站楼" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于金属围栏、构建物、高塔、航站楼的平面防护间距要求不小于0.46km，宜大于1.61km。" />
		<add key="MH_PSRSSR_0.8km平面防护间距要求_有无线电辐射的工业设施" value="雷达台站（近/远程一次监视雷达、二次监视雷达）对于有无线电辐射的工业设施的平面防护间距要求不小于0.80km。" />
		<add key="MH_PSRSSR_平面防护间距要求" value="雷达台站（近/远程一次监视雷达、二次监视雷达）平面防护间距要求。" />


		<add key="MH_PSRSSR_16KM保护区" value="在空管二次监视雷达16km范围内不应有影响雷达正常工作的大型旋转反射物体，如风力涡轮发电机等。" />

		<add key="AP_PSRSSR_1km平面防护间距要求_500kV高压架空输电线路" value="雷达台站（一次雷达、二次雷达）对于500kV高压架空输电线路的平面防护间距要求不小于1.0km。" />
		<add key="AP_PSRSSR_0.8km平面防护间距要求_220到330kV高压架空输电线路" value="雷达台站（一次雷达、二次雷达）对于220~330kV高压架空输电线路的平面防护间距要求不小于0.8km。" />
		<add key="AP_PSRSSR_0.7km平面防护间距要求_110kV高压架空输电线路" value="雷达台站（一次雷达、二次雷达）对于110kV高压架空输电线路的平面防护间距要求不小于0.7km。" />
		<add key="AP_PSRSSR_1.2km平面防护间距要求_500kV高压变电站" value="雷达台站（一次雷达、二次雷达）对于500kV高压变电站的平面防护间距要求不小于1.2km。" />
		<add key="AP_PSRSSR_0.8km平面防护间距要求_220到330kV高压变电站" value="雷达台站（一次雷达、二次雷达）对于220~330kV高压变电站的平面防护间距要求不小于0.8km。" />
		<add key="AP_PSRSSR_0.7km平面防护间距要求_110kV高压变电站" value="雷达台站（一次雷达、二次雷达）对于110kV高压变电站的平面防护间距要求不小于0.7km。" />
		<add key="AP_PSRSSR_0.7km平面防护间距要求_电气化铁路" value="雷达台站（一次雷达、二次雷达）对于电气化铁路的平面防护间距要求不小于0.7km。" />
		<add key="AP_PSRSSR_0.5km平面防护间距要求_非电气化铁路" value="雷达台站（一次雷达、二次雷达）对于非电气化铁路的平面防护间距要求不小于0.5km。" />
		<add key="AP_PSRSSR_0.7km平面防护间距要求_公路" value="雷达台站（一次雷达、二次雷达）对于公路的平面防护间距要求不小于0.7km。" />
		<add key="AP_PSRSSR_1.2km平面防护间距要求_高频热合机" value="雷达台站（一次雷达、二次雷达）对于高频热合机的平面防护间距要求不小于1.2km。" />
		<add key="AP_PSRSSR_0.5km平面防护间距要求_高频炉" value="雷达台站（一次雷达、二次雷达）对于不大于100kW的高频炉的平面防护间距要求不小于0.5km。" />
		<add key="AP_PSRSSR_0.5km平面防护间距要求_工业电焊" value="雷达台站（一次雷达、二次雷达）对于不大于10kW的工业电焊的平面防护间距要求不小于0.5km。" />
		<add key="AP_PSRSSR_1km平面防护间距要求_超高频理疗机" value="雷达台站（一次雷达、二次雷达）对于不大于1kW的超高频理疗机的平面防护间距要求不小于1.0km。" />
		<add key="AP_PSRSSR_0.5km平面防护间距要求_农用电力设备" value="雷达台站（一次雷达、二次雷达）对于不大于1kW的农用电力设备的平面防护间距要求不小于0.5km。" />

		<add key="AP_ADS_B_1km平面防护间距要求_500kV高压架空输电线路" value="广播式自动相关监视系统对于500kV高压架空输电线路的平面防护间距要求不小于1.0km。" />
		<add key="AP_ADS_B_0.8km平面防护间距要求_220到330kV高压架空输电线路" value="广播式自动相关监视系统对于220~330kV高压架空输电线路的平面防护间距要求不小于0.8km。" />
		<add key="AP_ADS_B_0.7km平面防护间距要求_110kV高压架空输电线路" value="广播式自动相关监视系统对于110kV高压架空输电线路的平面防护间距要求不小于0.7km。" />
		<add key="AP_ADS_B_1.2km平面防护间距要求_500kV高压变电站" value="广播式自动相关监视系统对于500kV高压变电站的平面防护间距要求不小于1.2km。" />
		<add key="AP_ADS_B_0.8km平面防护间距要求_220到330kV高压变电站" value="广播式自动相关监视系统对于220~330kV高压变电站的平面防护间距要求不小于0.8km。" />
		<add key="AP_ADS_B_0.7km平面防护间距要求_110到220kV高压变电站" value="广播式自动相关监视系统对于110kV高压变电站的平面防护间距要求不小于0.7km。" />
		<add key="AP_ADS_B_0.7km平面防护间距要求_电气化铁路" value="广播式自动相关监视系统对于电气化铁路的平面防护间距要求不小于0.7km。" />
		<add key="AP_ADS_B_0.5km平面防护间距要求_非电气化铁路" value="广播式自动相关监视系统对于非电气化铁路的平面防护间距要求不小于0.5km。" />
		<add key="AP_ADS_B_0.7km平面防护间距要求_公路" value="广播式自动相关监视系统对于公路的平面防护间距要求不小于0.7km。" />
		<add key="AP_ADS_B_1.2km平面防护间距要求_高频热合机" value="广播式自动相关监视系统对于高频热合机的平面防护间距要求不小于1.2km。" />
		<add key="AP_ADS_B_0.5km平面防护间距要求_高频炉" value="广播式自动相关监视系统对于不大于100kW的高频炉的平面防护间距要求不小于0.5km。" />
		<add key="AP_ADS_B_0.5km平面防护间距要求_工业电焊" value="广播式自动相关监视系统对于不大于10kW的工业电焊的平面防护间距要求不小于0.5km。" />
		<add key="AP_ADS_B_1km平面防护间距要求_超高频理疗机" value="广播式自动相关监视系统对于不大于1kW的超高频理疗机的平面防护间距要求不小于1.0km。" />
		<add key="AP_ADS_B_0.5km平面防护间距要求_农用电力设备" value="广播式自动相关监视系统对于不大于1kW的农用电力设备的平面防护间距要求不小于0.5km。" />
		<add key="AP_ADS_B_平面防护间距要求" value="广播式自动相关监视系统防护间距要求。" />

    <add key="AP_VHF_1km平面防护间距要求_1kW（含）以下调频广播" value="通信台站甚高频对于1kW（含）以下调频广播的平面防护间距要求不小于1.0km。" />
		<add key="AP_VHF_6km平面防护间距要求_1kW以上调频广播" value="通信台站甚高频对于1kW以上调频广播的平面防护间距要求不小于6.0km。" />
		<add key="AP_VHF_0.8km平面防护间距要求_工、科、医射频设备" value="通信台站甚高频对于工、科、医射频设备的平面防护间距要求不小于0.8km。" />
		<add key="AP_VHF_0.3km平面防护间距要求_500kV高压架空输电线路" value="通信台站甚高频对于500kV高压架空输电线路的平面防护间距要求不小于0.3km。" />
		<add key="AP_VHF_0.25km平面防护间距要求_220到330kV高压架空输电线路" value="通信台站甚高频对于220到330kV高压架空输电线路的平面防护间距要求不小于0.25km。" />
		<add key="AP_VHF_0.2km平面防护间距要求_110kV高压架空输电线路" value="通信台站甚高频对于110到220kV高压架空输电线路的平面防护间距要求不小于0.2km。" />
		<add key="AP_VHF_0.3km平面防护间距要求_电气化铁路" value="通信台站甚高频对于电气化铁路的平面防护间距要求不小于0.3km。" />
		<add key="AP_VHF_0.3km平面防护间距要求_干线公路" value="通信台站甚高频对于干线公路的平面防护间距要求不小于0.3km。" />
		<add key="AP_VHF_平面防护间距要求" value="通信台站甚高频防护间距要求。" />

    <add key="AP_HF_10km平面防护间距要求_50kW以下中波和长波发射台" value="通信台站高频对于50kW以下中波和长波发射台的平面防护间距要求不小于10km。" />
		<add key="AP_HF_15km平面防护间距要求_100到150kW中波和长波发射台" value="通信台站高频对于100到150kW中波和长波发射台的平面防护间距要求不小于15km。" />
		<add key="AP_HF_20km平面防护间距要求_200kW以上中波和长波发射台" value="通信台站高频对于200kW以上中波和长波发射台的平面防护间距要求不小于20km。" />
		<add key="AP_HF_4km平面防护间距要求_0.5到5kW短波发射台（通信方向1/4功率角）" value="通信台站高频对于0.5到5kW短波发射台（通信方向1/4功率角）的平面防护间距要求不小于4.0km。" />
		<add key="AP_HF_4km平面防护间距要求_5到25kW短波发射台（通信方向1/4功率角）" value="通信台站高频对于5到25kW短波发射台（通信方向1/4功率角）的平面防护间距要求不小于4.0km。" />
		<add key="AP_HF_10km平面防护间距要求_25到120kW短波发射台（通信方向1/4功率角）" value="通信台站高频对于25到120kW短波发射台（通信方向1/4功率角）的平面防护间距要求不小于10.0km。" />
		<add key="AP_HF_20km平面防护间距要求_120kW以上短波发射台（通信方向1/4功率角）" value="通信台站高频对于120kW以上短波发射台（通信方向1/4功率角）的平面防护间距要求不小于20.0km。" />
		<add key="AP_HF_2km平面防护间距要求_0.5到5kW短波发射台（通信方向1/4功率角外）" value="通信台站高频对于0.5到5kW短波发射台（通信方向1/4功率角外）的平面防护间距要求不小于2.0km。" />
		<add key="AP_HF_2km平面防护间距要求_5到25kW短波发射台（通信方向1/4功率角外）" value="通信台站高频对于5到25kW短波发射台（通信方向1/4功率角外）的平面防护间距要求不小于2.0km。" />
		<add key="AP_HF_5km平面防护间距要求_25到120kW短波发射台（通信方向1/4功率角外）" value="通信台站高频对于25到120kW短波发射台（通信方向1/4功率角外）的平面防护间距要求不小于5.0km。" />
		<add key="AP_HF_10km平面防护间距要求_120kW以上短波发射台（通信方向1/4功率角外）" value="通信台站高频对于120kW以上短波发射台（通信方向1/4功率角外）的平面防护间距要求不小于10.0km。" />

		<add key="AP_HF_1.8km平面防护间距要求_500kV高压架空输电线路" value="通信台站高频对于500kV高压架空输电线路的平面防护间距要求不小于1.8km。" />
		<add key="AP_HF_1.3km平面防护间距要求_220到330kV高压架空输电线路" value="通信台站高频对于220到330kV高压架空输电线路的平面防护间距要求不小于1.3km。" />
		<add key="AP_HF_1km平面防护间距要求_110kV高压架空输电线路" value="通信台站高频对于110到220kV高压架空输电线路的平面防护间距要求不小于1.0km。" />
		<add key="AP_HF_0.8km平面防护间距要求_电气化铁路" value="通信台站高频对于电气化铁路的平面防护间距要求不小于0.8km。" />
		<add key="AP_HF_1km平面防护间距要求_道路/公路" value="通信台站高频对于道路/公路的平面防护间距要求不小于1.0km。" />
		<add key="AP_HF_5km平面防护间距要求_工、科、医射频设备" value="通信台站高频对于工、科、医射频设备的平面防护间距要求不小于2.0km。" />
		<add key="AP_HF_平面防护间距要求" value="通信台站高频防护间距要求。" />

		<add key="MH_RRA_场地保护区_A" value="A区内不应有任何静止或移动的物体存在。" />
		<add key="MH_RRA_场地保护区_B" value="B区内不宜有固定障碍物（建筑物、架空高压输电线、堤坝、树林、山丘等）。" />
		<add key="MH_RRA_场地保护区_C" value="C区内不应有铁路和公路（机场专用环场路除外），基准接收天线的超障区域不应有建筑物、架空高压输电线、堤坝、树林、山丘等。" />
		<add key="MH_RRA_场地保护区_D" value="C区以外且超过基准接收天线底部垂直张角3°的任何永久物体和临时移动目标数量应严格控制，无法消除的应再GBAS系统内预设屏蔽处理。" />
	
		<add key="QX_2006_WindRadar_探测系统天线5°仰角" value="风廓线仪、声雷达、激光雷达四周的障碍物对探测系统天线形成的遮挡仰角应当不大于 5°。" />
		<add key="QX_2016_WindRadar_探测系统天线15°仰角" value="四周的障碍物对⻛温廓线雷达的阵⾯遮蔽⻆应当⼩于 15 度。" />
		<add key="QX_2006_WeatherRadar_雷达探测⽅向1°仰角" value="雷达主要探测方向，即天气系统的主要来向和走廊口方向的遮蔽物对天线俯仰的遮蔽角不得大于 1°。" />
		<add key="QX_2016_WeatherRadar_雷达探测⽅向1°仰角" value="在雷达主要探测⽅向上（服务重点地区、天⽓系统的主要来向）的遮挡物对雷达天线的遮挡仰⻆应当⼩于 1度。" />

		<add key="QX_2016_WeatherRadar_800_防护间距" value="在半径 800 ⽶的范围内，不应有能产⽣有源⼲扰的电⽓设施。" />
    <add key="QX_2016_WeatherRadar_450_防护间距" value="以天线为中⼼半径 450 ⽶的范围以内，不应有⾦属建筑物、密集的居⺠楼、⾼压输电线塔等。" />

		<add key="MH_GBAS_基准接收天线_场地保护区A区" value="A区内不应有任何静止或移动的物体存在。" />
    <add key="MH_GBAS_基准接收天线_场地保护区B区" value="B区内不宜有固定障碍物（建筑物、架空高压输电线、堤坝、树林、山丘等），不应设置道路、滑行道及其它临时道路。" />
    <add key="MH_GBAS_基准接收天线_场地保护区C区" value="C区内不应有铁路和公路（机场专用环场路除外），基准接收天线的超障区域不应有建筑物、架空高压输电线、堤坝、树林、山丘等。" />
		<add key="MH_GBAS_基准接收天线_155米外3°仰角" value="155m以外垂直仰角超过3°（以天线底部为基准）的障碍物也应予以选择性屏蔽。" />	
	</appSettings>
</configuration>